
<!-- Loop over each object in the posts array -->
{{#each users as |user| }}
<div class="row mb-4 post">
    <div class="col-md-5">
        <h2>
            <a href="/user/{{post.id}}">{{post.title}}</a>
        </h2>
        <p>Created by {{user.username}} on {{ post.created_at}}</p>
    </div>
    <div class="col-md-7">
        <p>
            {{post.title}}
        </p>
    </div>
</div>
{{/each}}