{{!-- Post --}}
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p class="text-right fw-lighter">Written by {{user.username}} on {{format_date created_at}}</p>



{{!-- COMMENT FORM --}}
{{#if logged_in}}
<form class="new-comment-form">
<div class="text-center">
  <div class="form-group">
    <label for="comment-text">Send a Comment:</label>
    <textarea class="form-input" id="comment-input" name="comment-input"></textarea>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">comment</button>
      </div>
  </div>
  </form>
  {{else}}
  <p>Please login or sign-up to add a comment!</p>
  {{/if}}
  </div>



{{!-- DISPLAY COMMENTS FOR POST --}}
  {{#each comments as |comment| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h4>
      {{input}}
    </h4>
    <p>Commented 
      {{!-- {{comment.user.username}}  --}}
      on {{ format_date comment.created_at}}</p>
  </div>
</div>
{{/each}}

<script src="../js/post.js"></script>
