{{!-- Post --}}
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Written by {{user.username}} on {{format_date created_at}}</p>
  <p>
    <button class="btn btn-primary">Post</button>
  </p>


{{!-- COMMENT FORM --}}
<form class="form new-comment-form">
<div class="text-center">
  <div class="form-group">
    <label for="comment-desc">comment:</label>
    <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">comment</button>
      </div>
  </div>
  </form>

{{!-- DISPLAY COMMENTS FOR POST --}}
  {{#each comments as |comment| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      <a href="/posts/{{comment.id}}">{{comment_text}}</a>
    </h2>
    <p>Created by {{comment.user.username}} on {{ post.created_at}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.title}}
    </p>
</div>
</div>
{{/each}}